
@font-face {
    font-family: 'HankenGrotesk-VariableFont_wght';
    src: local('HankenGrotesk-VariableFont_wght'), url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}


body {
    max-width: 1440px;
    min-height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: HankenGrotesk-VariableFont_wght;
}

.box {
    background-color: rgb(255, 255, 255);
    width: 736px;
    height: 510px;
    border-radius: 25px;
}

.boxcontainer {
    display: flex;
}

.box1 {
    color: white;
    width: 368px;
    height: 510px;
    text-align: center;
    background-image: linear-gradient(45deg, #2e2be9, #7857ff );
    border-radius: 25px;
}

.co {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 




.box2 {
    width: 368px;
    height: 510px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 25px 25px 0px;
    background-color: white;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.032);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: linear-gradient(0deg, #2421ca00 , #4e21ca);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.rec1 {
    width: 290px;
    height: 58px;
    background-color: hsl(0, 100%, 67%, 0.05)  ;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.rec1 img {
    margin-left: 20px;
}

.rec1 p {
    margin-left: 10px;
    color:#ff5757 ;
    font-weight: 700;
}

.rec2 {
    width: 290px;
    height: 58px;
    background-color: hsl(39, 100%, 56%, 0.05) ;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.rec2 img {
    margin-left: 20px;
}

.rec2 p {
    margin-left: 10px;
    color:#ffb01f ;
    font-weight: 700;
}

.rec3 {
    width: 290px;
    height: 58px;
    background-color: hsl(166, 100%, 37%, 0.05) ;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.rec3 img {
    margin-left: 20px;
}

.rec3 p {
    margin-left: 10px;
    color:#00bd91 ;
    font-weight: 700;
}


.rec4 {
    width: 290px;
    height: 58px;
    background-color:  #1125d40d;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.rec4 img {
    margin-left: 20px;
}

.rec4 p {
    margin-left: 10px;
    color:#1125d4 ;
    font-weight: 700;
}



.allrec h1 {
    margin-top: 30px;
    font-size: 25px;
    color: #303b59;
}

button {
    width: 290px;
    height: 58px;
    background-color: #303b59;
    color: white;
    border-radius: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 700;
}

.but {
    margin-top: 40px;
}

.ti2 h1 {
    margin-bottom: 0px;
    margin-top: 20px;
    
}

.ti h1 {
    margin-top: 45px;
    font-size: 25px;
    color: #cec7ff;
}

.tel {
    margin-left: 90px;
}

.tel1 {
    margin-left: 85px;
}


.tel2 {
    margin-left: 105px;
}

.big {
    font-size: 70px;
    font-weight: 800;
}

.enc {
    opacity: 0.7;
}

.recto {
    margin-top: 5px;
}

.colr {
    opacity: 0.4;
}

.po {
    font-weight: 800;
    opacity: 0.4;
}

.enc {
    margin-left: 60px;
    margin-right: 60px;
} 

@media only screen and (max-width: 375px) {

    body {
        max-width: 375px;
        min-height: 809px;
        margin: 0;
    }

    .box {
        margin: 0;
        width: 375px;
        height: 809px;
    }

        
    .boxcontainer {
        display: inline;
    }

    .box1 {
        width: 375px;
        height: 375px;
        text-align: center;
        border-radius: 0px 0px 35px 35px;

    }

    .box2 {
        width: 375px;
        height: 434px;
        align-items: center;
        
    }

    .ti h1 {
        font-size: 18px;
        margin-top: 0;
        position: relative;
        top: 24px;
    }

    .ti2 h1 {
        margin-bottom: 20px;
        margin-top: 25px;
        font-size: 25px;
    }
    
    .boxc {
        margin-bottom: 0px;

    }

    .circle {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }

    .big {
        font-size: 50px;
    }

    .enc {
        margin-top: -10px;
        margin-left: 60px;
        margin-right: 60px;
        font-size: 15px;
    } 
    

    .allrec h1 {
        font-size: 18px;
        margin-top: 55px;
        margin-bottom: 22px;
    }
}
